.feynman__link {
    font-family: 'Inter';
    font-weight: normal;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
    transition: opacity .4s linear;
  }
.feynman__link:hover {
    opacity: 50%;
  }